.form{
  background: linear-gradient(65.19deg, #58FFD1 -22.04%, #0CA09B 86.47%);
}

.form--wrapper{
  display: flex;
  align-items: center;
}

.form__left{
  padding-top: 36px;
  padding-right: 298px;
  padding-bottom: 50px;

  .form__heading{
    margin-bottom: 5px;
  }

  .form__desc{
    margin-bottom: 34px;
  }

  .form__input{
    width: 242px;
    border: none;
    padding: 13px 0;
    font-family: 'Montserrat' Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #00094A;
    border-radius: 3px;
  }

  .form__button{

    padding: 11px 14px;
    font-family: 'Montserrat' Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #00094A;
    border-radius: 3px;
  }
}

.form__right{
  padding-top: 37px;
  padding-bottom: 61px;
  padding-right: 170px;
  padding-left: 95px;
  background: linear-gradient(65.19deg, #58FFD1 -22.04%, #0CA09B 86.47%);

  .form__heading{
    margin-bottom: 10px;
  }

  .form__desc{

    margin-bottom: 57px;
  }

  .form__form{

    margin-top: 19px;
  }

  .form__label-right{

    padding: 13px 27px;
    font-family: 'Montserrat' Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #00094A;
    border-radius: 3px;
    background-color: #FFFFFF;
  }

}

.form__heading{
  margin: 0;
  width: 365px;
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

.form__desc {
  margin: 0;
  width: 349px;
  font-family: 'Montserrat' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.8;
}
