.header--container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.sitenav__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-self: center;


  .sitenav__link{
    // padding: 0 30px;
    text-decoration: none;
    font-family: 'Montserrat' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #00094A;

  }

  .sitenav__item{
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .sitenav__item+.sitenav__item{
    padding-left: 30px;

  }

  .sitenav__img{
    margin-right: 10px;
    margin-left: 10px;
  }

  .sitenav--link{
    padding-left: 30px;
    border-left: 1px solid black;
  }

  .header__select{
    border: none;
  }
}
